<ion-view view-title="Alla kvitton">
  <ion-content>

    <div class="list">


      <!-- only show unpaid if there are any-->

        <!-- Unpaid receipts -->
        <div class="item item-divider">Obetalda</div>
        <span ng-if="unpaidReceiptCount == 0">
          <li class="item">
            Inga obetalda kvitton
          </li>
        </span>
        <li class="item item-icon-left item-icon-right"
            ng-include src="'templates/_savedList.html'"
            ng-repeat="item in items_unpaid | filter:{done:false} | orderBy:'-createdAt'">
        </li>

      <!-- Paid receipts -->
      <div class="item item-divider">Betalda</div>
      <!-- repeat all the items by filiter and order them -->
      <li class="item item-icon-left item-icon-right"
          ng-include src="'templates/_savedList.html'"
          ng-repeat="item in items | filter:{done:true} | orderBy:'-createdAt'">
      </li>
      <!-- end of paid receipts -->
    </div>

    <!-- ininity scroll -->
    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="20%"></ion-infinite-scroll>

  </ion-content>
</ion-view>
