<ion-view view-title="Obetalda kvitton">
  <ion-content ng-controller="unpaidCtrl">

    <div class="list">

      <!-- Paid by person 1 -->
      <div class="item item-divider">{{config[0].$value}} betalade</div>
      <a ng-include src="'templates/_unpaidList.html'"
         ng-repeat="item in notFinished | filter:{done:false, whoPaid:'person1'} | orderBy:'-createdAt'"
         ng-click="markDone(item.$id)"
         class="item item-icon-left">
      </a>

      <!-- Paid py person 2 -->
      <div class="item item-divider">{{config[1].$value}} betalade</div>
      <a ng-include src="'templates/_unpaidList.html'"
         ng-repeat="item in notFinished | filter:{done:false, whoPaid:'person2'} | orderBy:'-createdAt'"
         ng-click="markDone(item.$id)" class="item item-icon-left">
      </a>

      <div class="item item-divider">Vem är skyldig vem</div>
      <!-- if person 1 shopped for more than person 2 -->
      <li class="item" ng-show="debt[0].$value < debt[1].$value">{{config[1].$value}} är skyldig {{config[0].$value}} {{debt[1].$value - debt[0].$value}} kr</li>
      <!-- if person 2 shopped for more than person 1 -->
      <li class="item" ng-show="debt[1].$value < debt[0].$value">{{config[0].$value}} är skyldig {{config[1].$value}} {{debt[0].$value - debt[1].$value}} kr</li>


    </div>


  </ion-content>
</ion-view>
