body {
  font-family: 'Montserrat', sans-serif;
}


.padding-button {
  padding-left: 15px;
  padding-right: 15px;
}


section.login {
  margin-top: 50px;
}
.gray {
  color: #D3D3D3;
}

.white {
  color: white;
}


.login-wrapper {
  background-color: #886aea;
}

.lead {
  font-size: 1.2em;
  font-weight: thin;
}

.icon-login {
  width: 70%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}


.bar-header, .back-button {
   height: 65px;
}

.bar-header .title, .back-button {
   line-height: 65px;
}

.has-header {
   top: 65px;
}

.padidng-left {
  padding-left: 20px;
}

.hidden {
  display: none;
}

.visible {
  display: block !important;
}

.payed {
  color: #33cd5f;
}
.not-payed {
  color: #ef473a;
}

.card-notpayed {
  background-color: #FFE7E7;
}

.card-payed {
  background-color: green;
}

.applyFooter{
  margin-bottom: 200px !important;
}
